﻿<div id="tableBlock"></div>
<div id="editBlock">
    <p><b>Редактирование дома</b></p>
    <table>
        <tr><td><input type="hidden" id="editId" /></td><td></td></tr>
        <tr><td><label>Адрес: </label></td><td><input type="text" id="editAdress" /></td></tr>
    </table>
    <button id="editHome">Сохранить</button>
</div>
<div id="createBlock">
    <p><b>Добавление дома</b></p>
    <table>
    <tr><td><label>Адрес: </label></td><td><input type="text" id="addAdress" /></td></tr>

     </table>
    <button id="addHome">Сохранить</button>
</div>
<div id="addMeterBlock">
    <p><b>Добавление счетчика дома</b></p>
    <table>
        <tr><td><input type="hidden" id="addHomeId" /></td><td></td></tr>
        <tr><td><label>Адрес: </label></td><td><input type="text" id="addAdressMeter" /></td></tr>
        <tr><td><label>Заводской номер: </label></td><td><input type="text" id="addFactoryNumber" /></td></tr>
        <tr><td><label>Показания: </label></td><td><input type="text" id="addIndicator" /></td></tr>
    </table>
    <button id="addMeterHome">Сохранить</button>
</div>
<div id="HomesBlock">
    <button id="showMaxHome">MaxHome </button>
    <button id="showMinHome">MinHome </button>
    <button id="showAllHomes">AllHomes </button>
</div>


@section scripts
{
<script type="text/javascript">
    $(document).ready(function () {
 
        GetAllHomes();
 
        $("#editHome").click(function (event) {
            event.preventDefault();
            EditHome();
        });
 
        $("#addHome").click(function (event) {
            event.preventDefault();
            AddHome();
        });

        $("#showMaxHome").click(function (event) {
            event.preventDefault();
           GetMaxHome();
        });
        $("#showMinHome").click(function (event) {
            event.preventDefault();
            GetMinHome();
        });
        $("#showAllHomes").click(function (event) {
            event.preventDefault();
            GetAllHomes();
        });
        $("#addMeterHome").click(function (event) {
            event.preventDefault();
            AddHomeMeter();
        });
 
    });
    // Получение всех домов по ajax-запросу
    function GetAllHomes() {
         
        $("#createBlock").css('display', 'block');
        $("#editBlock").css('display', 'none');
        $("#addMeterBlock").css('display', 'none'); 
        $.ajax({
            url: '/api/homes/GetHomes',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                WriteResponse(data);
            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        });
    }
    function GetMaxHome() {

        $("#createBlock").css('display', 'block');
        $("#editBlock").css('display', 'none');
        $("#addMeterBlock").css('display', 'none'); 
        $.ajax({
            url: '/api/homes/HomeMaxIndicator',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                WriteMinMaxResponse(data);
            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        });
    }
    function GetMinHome() {

        $("#createBlock").css('display', 'block');
        $("#editBlock").css('display', 'none');
        $("#addMeterBlock").css('display', 'none'); 
        $.ajax({
            url: '/api/homes/HomeMinIndicator',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                WriteMinMaxResponse(data);
            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        });
    }
 // Добавление нового дома
    function AddHome() {
        // получаем значения для добавляемого дома
        var home = {
            Adress: $('#addAdress').val()
        };
  
        $.ajax({
            url: '/api/homes/CreateHome',
            type: 'POST',
            data: JSON.stringify(home),
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                GetAllHomes();
            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        });
    }

    // Добавление нового счетчика
    function AddHomeMeter() {
        // получаем значения для добавляемого дома
        var meter = {
            Id: $('#addHomeId').val(),
            FactoryNumber: $('#addFactoryNumber').val(),
            Indicator: $('#addIndicator').val()
        };

        $.ajax({
            url: '/api/homes/AddWaterMeter',
            type: 'POST',
            data: JSON.stringify(meter),
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                GetAllHomes();
            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        });
    }
 // Удаление дома
    function DeleteHome(id) {
  
        $.ajax({
            url: '/api/homes/DeleteHome?id=' + id,
            type: 'DELETE',
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                GetAllHomes();
            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        });
    }
    // редактирование дома
    function EditHome() {
        var id = $('#editId').val()
        // получаем новые значения для редактируемого дома
        var home = {
            Id: $('#editId').val(),
            Adress: $('#editAdress').val()

        };
        $.ajax({
            url: '/api/homes/EditHome?id=' + id,
            type: 'PUT',
            data: JSON.stringify(home),
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                GetAllHomes();
            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        });
    }
 // вывод полученных данных на экран
    function WriteResponse(homes) {
        var strResult = "<table><th>ID</th><th>Адрес</th><th>Заводской номер водосчетчика</th><th>Показания водосчетчика</th>";
        $.each(homes, function (index, home) {           
            strResult += stringHome(home)
        });
        strResult += "</table>";
        $("#tableBlock").html(strResult);
         
    }

    function stringHome(home)
    {        
        strWaterMeter = " ";
        strNeedAddMeter = "";
        if (home.HomeWaterMeter != null) {
            strWaterMeter = "<td> " + home.HomeWaterMeter.FactoryNumber + "</td><td>" +
                + home.HomeWaterMeter.Indicator + "</td>";
        }
        else {
            strWaterMeter = "<td> </td> " + "<td></td>";
            strNeedAddMeter =
                "</td><td><a id='AddMeterItem' data-id-item='" + home.Id + "'" + "data-adress-item ='" + home.Adress+"' onclick='AddMeterItem(this);' >Добавить счетчик</a></td>"
                ;
        }
        var text = "<tr><td>" + home.Id + "</td><td> " + home.Adress + "</td>" + strWaterMeter
            +
            "<td><a id='editItem' data-item='" + home.Id + "' onclick='EditItem(this);' >Редактировать</a></td>" +
            "<td><a id='delItem' data-item='" + home.Id + "' onclick='DeleteItem(this);' >Удалить</a></td>" + strNeedAddMeter+"</tr>" ;
        return text;
    }

    function WriteMinMaxResponse(home) {
        var strResult = "<table><th>ID</th><th>Адрес</th><th>Заводской номер водосчетчика</th><th>Показания водосчетчика</th>";
        strResult += stringHome(home)
    strResult += "</table>";
        $("#tableBlock").html(strResult);

    }
    // обработчик удаления
    function DeleteItem(el) {
        // получаем id удаляемого объекта
        var id = $(el).attr('data-item');
        DeleteHome(id);
    }
    // обработчик редактирования
    function EditItem (el) {
        // получаем id редактируемого объекта
        var id = $(el).attr('data-item');

        GetHome(id);
    }

    function AddMeterItem(el) {
        // получаем id редактируемого объекта
        var id = $(el).attr('data-id-item');
        var adress = $(el).attr('data-adress-item');
        $("#addHomeId").val(id);
        $("#createBlock").css('display', 'none');
        $("#editBlock").css('display', 'none');
        $("#addMeterBlock").css('display', 'block'); 
        $("#addAdressMeter").val(adress);
        $("#addFactoryNumber").val("");
        $("#addIndicator").val("");
        
    }
    // вывод данных редактируемой дома в поля для редактирования
    function ShowHome(home) {
        if (home != null) {
            $("#createBlock").css('display', 'none');
            $("#addMeterBlock").css('display', 'none'); 
            $("#editBlock").css('display', 'block');
            $("#editId").val(home.Id);
            $("#editAdress").val(home.Adress);
        }
        else {
            alert("Такой дом не существует");
        }
    }
    // запрос дома на редактирование
    function GetHome(id) {
        $.ajax({
            url: '/api/homes/GetHome?id=' + id,
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                ShowHome(data);
            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        });
    }
</script>
}
